@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;800&display=swap');
:root {
  --poppins-font-800: 'Poppins', sans-serif;
  --poppins-font-500: 'Poppins', sans-serif;
  --poppins-font-400: 'Poppins, sans-serif';
}

/* Update the font weights for the specific variables */
.poppins-500 {
  font-family: var(--poppins-font-500); 
  font-weight: 500;
}
.poppins-800 {
  font-family: var(--poppins-font-800);
  font-weight: 800;
}

.poppins-400 {
  font-family: var(--poppins-font-400);
  font-weight: 400;
}
.container {
  width:100%;
  margin:0;
  padding: 0;
  height:400vh;
  font-family: 'Poppins', sans-serif;
  display: grid;
  grid-template-rows: 65px auto ;
}
